* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins",sans-serif;
  height: auto;
  width: auto;
  background:#090a0f;
  overflow-x: hidden;
}
.weblogo {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.intro{
	color: white;
	text-align: center;
}
h1 {
	font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h3 {
	font-size: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
}

hr {
	width: calc(100% - 40px);
	border: 0;
	border-top: 1px solid #eee;
}
.icontable {
	margin-left: auto;
	margin-right: auto;
}

.tableimages {
	width: 80%;
	border: 2px solid	transparent;
	transition: border 0.3s;
}

.tableimages:hover{
	border: 2px solid #1c368f;
}

@media only screen and (max-width: 768px) {

	th {
		display: block;
	}
	.tableimages {
		width: 50%;
	}
	.weblogo {
		display: grid;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

}


footer{
	text-align: center;
	color: #1B1B1B;
}
footer a{
	text-decoration:underline wavy #1B1B1B 1px; 
	color: #1B1B1B;
}

footer a:hover {
	color: #F7A9A8;
}
